<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>InventoryApp</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

        <div class="container">
            <h1>
                <%= category ? 'Edit Category' : 'Add New Category' %>
            </h1>

            <form action="<%= category ? '/categories/' + category.id + '/update' : '/categories' %>" method="POST">
                <!-- Category Name -->
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="<%= category ? category.name : '' %>" required>
                </div>

                <!-- Category Description -->
                <div>
                    <label for="description">Description</label>
                    <textarea id="description" name="description"
                        rows="4"><%= category ? category.description : '' %></textarea>
                </div>

                <!-- Submit Button -->
                <button type="submit">
                    <%= category ? 'Update Category' : 'Create Category' %>
                </button>
            </form>
        </div>
</body>

</html>